[Unit]
Description=Gunicorn instance to serve pi_backend API
After=network.target __GPS_INIT_SERVICE_NAME__ __POLLER_SERVICE_NAME__

[Service]
User=www-data
Group=www-data
WorkingDirectory=__INSTALL_PATH__
Environment="PATH=/usr/bin:/usr/local/bin"
ExecStart=/usr/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 app:app
Restart=always
PrivateTmp=true
TimeoutStopSec=5
KillMode=mixed

[Install]
WantedBy=multi-user.target
